{% extends 'main.html' %} 
{% block title %}Add Beneficiary{% endblock title %}
{% block content %}
<div class="flex flex-col justify-center items-center">
  <h1 class="text-2xl">Add Beneficiary</h1>
  <!-- <p class="text-red-700 text-l mb-4">Fields marked with * are compulsory</p> -->
  <form method="post" action="" class='b-form' enctype="multipart/form-data">
    {% csrf_token %} 
    {{form.as_p}}
    
    <input type="submit" value="Submit" class='form-control' />
    
  </form>
</div>
{% endblock content %}
