{% extends 'main.html' %} 
{% block title %}Add report{% endblock title %}
{% block content %}
{{ form.media }}
<style>
    input,select{
        border: 2px solid black;
        margin-bottom: 10px;
        
    }
    label{
        height: 30px;
        vertical-align: top;
    }
</style>
<div class="flex flex-col justify-center items-center">
    <h1 class="text-2xl">Add Report</h1>
    <form action="" method="post">
        {% if request.user.is_staff %}
        <a href="{% url 'add_patient' %}">Add Patient</a>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
        {% endif %}
    </form>
</div>
{% load static %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src='static/admin/js/core.js' %}></script>
<link rel="stylesheet" type="text/css" href= 'static/admin/css/widgets.css' %}>
<style>.calendar>table>caption{caption-side:unset}</style><!--caption fix for bootstrap4-->

{% endblock content%} 