{% extends 'main.html' %} 
{% block title %}Export Prescription{% endblock title %}
{% block content %}
{{ form.media }}
<style>
    input,select{
        border: 2px solid black;
        margin-bottom: 10px;
        
    }
    label{
        height: 30px;
        vertical-align: top;
    }
</style>

<div class="flex flex-col justify-center items-center">
    <h2>Export Prescription</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="patient_id">Patient ID:</label>
        <input type="text" name="patient" id="patient_id" />
        <input type="submit" value="Export">
    </form>
</div>
<hr>
<div class="flex flex-col justify-center items-center">
    <h1 class="text-2xl">Export</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if request.user.is_staff %}
        <div class="flex flex-col">
            <label for="patient">Patient</label>
            <select name="patient" id="patient">
                {% for patient in patients %}
                <option value="{{ patient.id }}">{{patient.id}} {{ patient.name }} {{patient.date_of_camp}}</option>
                {% endfor %}
            </select>
        <input type="submit" value="export">
        {% endif %}
    </form>
</div>


 {% endblock content%} 